<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <nav class="navbar">
        <button id="logout">Cerrar Sesión</button>
    </nav>
    <main>
        <ul class="list-group">
            {{#if messages}}
                {{#each messages}}
                    <li class="message-item">{{this.user}}: {{this.content}}</li>
                {{/each}}
            {{/if}}
        </ul>
        <form class="message-form">
            <input type="text" placeholder="Escribe un mensaje..." />
            <button type="submit">Enviar</button>
        </form>
    </main>

    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="./script.js"></script>
</body>
</html>
