<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link rel="stylesheet" href="./css/register.css">
</head>
<body>
    <div class="display-login-form">
        <div class="login-form">
            <h2 class="login-form-title">Registrate</h2>
            <form class="login-form-items" id="register-form-items">
                <input type="text" name="name" placeholder="Nombre" />
                <input type="password" name="password" placeholder="Contraseña" />
                <div class="register-button">
                    <button type="submit">Registrate</button>
                </div>
                <div class="login-button">
                    <a href="/login" class="button-link">Iniciar Sesión</a>
                </div>
            </form>
        </div>
    </div>

    <script src="./js/register.js"></script>
</body>
</html>